<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/register.css">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="menu-toggle" id="menuToggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="sidebar" id="sidebar">
            <h2>SAN PABLO</h2>
            <nav>
                <a id="navInicio" href="../inicio/inicio.html"><i class="fas fa-home"></i> Inicio</a>
                <a id="navPermisos" href="/dashboard.html"><i class="fas fa-user-shield"></i> Permisos</a>
                <a id="navReportes" href="/reportes/reportes.html"><i class="fas fa-chart-bar"></i> Reportes</a>
                <a id="navHistorial" href="/historial/historial_permisos.html"><i class="fas fa-history"></i> Historial Permisos</a>
                <a id="navRegister" href="../views/register.html"><i class="fas fa-user-plus"></i> Registro</a>
                <a id="navConfiguracion" href="#"><i class="fas fa-cog"></i> Configuración</a>
                <button id="logoutButton" class="logout-button"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
            </nav>
        </div>
        <div class="main-content">
    <h1>Registro de Usuario</h1>
    <form id="registerForm">
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="role">Rol:</label>
        <select id="role" name="role">
            <option value="user">Usuario</option>
            <option value="admin">Administrador</option>
        </select>
        <br>
        <button type="submit">Registrar</button>
    </form>
    <script src="register.js"></script>
    <script src="/logout.js"></script>
    <div class="main-content">
</body>
</html>
